@charset "utf-8";

ul.meta {
    margin: 0.5em 0 1em;
    font-size: 95%;
}

ul.meta li {
    display: inline;
}

/* picture */
.picture {
    clear: both;
    text-align: center;
    margin: 2em 0;
}

/* picture in list item */
li .picture {
    display: block;
}

.picture img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    border: 1px solid black;
}

/* small picture */
.picture.small {
    margin: 1em 0;
}

.picture.small img {
    float: right;
    margin: 0 0 1em 1em;
}

/* picture set */
.picture.set {
    padding: 10px 0;
    border: 1px solid black;
}

.picture.set img {
    margin: 0 5px;
}

/* caption */
.picture .caption {
    display: block;
    margin: 0.5em 0;
    font-size: 95%;
    color: gray;
}

